
{% macro subscribe(defaultContentType, channelName, channelParameters) %}
public IAsyncSubscription SubscribeTo{{channelName | pascalCase }}(
    {{channelName | pascalCase}}OnRequest onRequest
    {% if channelParameters | length %}
      ,{{channelParameters | realizeParametersForChannel}}
    {% endif %}
){
    if (IsConnected())
    {
        return {{channelName | pascalCase }}.Subscribe(
          logger,
          connection, 
          onRequest 
          {% if channelParameters | length %}
            ,{{channelParameters | realizeParametersForChannelWithoutType}}
          {% endif %});
    }
    else
    {
        throw new ClientNotConnected();
    }
}
{% endmacro %}
