
{% macro deserializer(message) %}

{%- if message.payload() | messageHasNotNullPayload %}
internal static {{message  | getMessageType}}NameSpace.{{ message | getMessageType }} JsonDeserializer(LoggingInterface logger, byte[] buffer)
{
  var srt = Encoding.UTF8.GetString(buffer);
  logger.Debug("Deserializing message " + srt);
  return {{message  | getMessageType}}NameSpace.{{ message | getMessageType }}.FromJson(srt);
}
{% endif %}
{% endmacro %}
